extends layout

block content
  div.container
    h1 New group
      div.row
        div.col-md-6
          form(method='POST' action='/savegroup')
            div.form-group
              label(for='name')
              input.form-control(name='name')
            h3 Group Head
            - each member in members
              div.checkbox
                label
                  input(type='checkbox' name='head' value='#{member.id}')
                  span= member.name
            input(type='submit' class='btn btn-default' value='MAKE')
